<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Библиотека</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <span class="bi bi-book"></span> Книги
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="readers">
                <span class="bi bi-people"></span> Читатели
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="debtors">
                <span class="bi bi-exclamation-circle"></span> Должники
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventory">
                <span class="bi bi-clipboard-check"></span> Инвентаризация
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books-by-author">
                <span class="bi bi-search"></span> Книги по автору
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books-by-publisher">
                <span class="bi bi-search"></span> Книги по издательству
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books-by-date">
                <span class="bi bi-search"></span> Книги по дате
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books-on-debtors">
                <span class="bi bi-exclamation-circle"></span> Книги у должников
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}